th, td {
    text-align: center; 
    vertical-align:middle;
}

#centerh {
    text-align: center;
}

#getby {
    text-align:center;
    width: 300px; 
    margin-left:41%; 
}

#footer {
    position: sticky;
    text-align: center;
    margin-top: 100px;
    right: 40%;
    top: 40%;
    bottom: 1px;
    left: 40%;
    padding: 0.5rem;
}
