<br>
<br>
<br>
<br>
<h3 id="centerh">
  <span class="label label-success"> All Coupons </span>
</h3>
<br>

<div class="row">
  <!-- Go to purchased coupons page -->
  <br>
  <div id="button">
    <div id="centerh">
      <button class="btn-lg btn btn-warning" routerLink="/mypurchasedcoupons">
        Go to my purchased coupons list
        <span class="warning"></span>
      </button>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div *ngFor="let c of allCouponsList; let i = index" class="col-md-4">
      <div class="thumbnail">
        <img [src]=c.image class="img-rounded" width="500" height="300" id="img">
        <div class="caption">

          <h3 id="centerh">
            <b>{{c.title}} </b>
          </h3>
          <hr style="border: 1px solid rgb(5, 5, 5);">
          <p id="centerh"> {{c.message}} </p>
          <hr style="border: 1px solid rgb(0, 0, 0);">
          <ul>
            <li>
              <b> Price: </b> &nbsp; {{c.price}}&nbsp;NIS
            </li>
            <li>
              <b> Coupon Type: </b> &nbsp; {{c.couponType}}
            </li>
            <li>
              <b> Start Date: </b> &nbsp; {{c.startDate}}
            </li>
            <li>
              <b> End Date: </b> &nbsp; {{c.endDate}}
            </li>
            <li>
              <b> Amount: </b> &nbsp; {{c.amount}}
            </li>
            <li>
              <b> Coupon ID: </b> &nbsp; {{c.id}}
            </li>
          </ul>
          <br>
          <p id="centerh">
            <button class="btn-lg btn btn-warning" (click)="purchaseCoupon(i)"> Purchase it!
              <span class="glyphicon glyphicon-shopping-cart"></span>
            </button>
          </p>

        </div>
      </div>
    </div>
  </div>
</div>
<br>

<div class="row">
  <!-- Go to purchased coupons page -->
  <br>
  <div id="button">
    <div id="centerh">
      <button class="btn-lg btn btn-warning" routerLink="/mypurchasedcoupons">
        Go to my purchased coupons list
        <span class="warning"></span>
      </button>
    </div>
  </div>
</div>

<div class="row">
  <div id="footer" class="panel panel-info">
    <div class="panel-heading">
      <span style="font-size: 18px">
        <strong>Contact us:&nbsp; </strong>
      </span>
      <a class="btn fab fa-facebook fa-2x" href="https://www.facebook.com/tamarcovich"></a>
      <a class="btn fab fa-linkedin fa-2x" href="https://www.linkedin.com/in/alon-samet/"></a>
      <a class="btn fas fa-envelope fa-2x" href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=alonkale@gmail.com&shva=1"></a>
    </div>
    <div class="panel-body">
      Powered by
      <strong>
        <i> Alon Samet </i>
        <br>
      </strong>
      <h6> © All Rights Reserved </h6>
    </div>
    <br>
  </div>
</div>