
#shadow {
    text-shadow: 1px 1px;
}

#centerh {
    text-align: center;
}

#getby {
    text-align:center;
    width: 300px; 
    margin-left:41%; 
}

#button {
    padding-bottom: 70px;
}

#img {
    padding-top: 20px; 
    padding-left: 20px; 
    padding-right: 20px;
}

