
<!--
This component generates the nav bar that allows the access to the other customer SPA components: 
Home, all Coupons, my Purchased Coupons, My Details, About & Logout. In addition, it generates the footer of the system, 
which contains various ways (Gmail, LinkedIn & Facebook) to contact the system author.
-->

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">

            <li>
                <a routerLink="/"> Home
                    <span class="fa fa-home"></span> &nbsp; </a>
            </li>
            <li>
                <a routerLink="/allcoupons"> All Coupons
                    <span class="glyphicon glyphicon-th-list"></span>&nbsp; </a>
            </li>
            <li>
                <a routerLink="/mypurchasedcoupons"> My Purchased Coupons
                    <span class="glyphicon glyphicon-shopping-cart"></span>&nbsp; </a>
            </li>
            <li>
                <a routerLink="/mydetails"> My Details
                    <span class="glyphicon glyphicon-copyright-mark"></span>&nbsp; </a>
            </li>
            <li>
                <a routerLink="/about"> About
                    <span class="fa fa-info-circle"></span>
                </a>
            </li>
        </ul>

        <ul id="logout" class="nav navbar-nav navbar-right">
            <li>
                <button (click)="logout()" class="btn btn-danger">
                    <b>Logout </b>
                    <span class="fas fa-sign-out-alt"></span>
                </button>
            </li>
        </ul>
    </div>
</nav>


<router-outlet></router-outlet>

<div id="footer" class="panel panel-info">
    <div class="panel-heading">
        <span style="font-size: 18px">
            <strong>Contact us:&nbsp; </strong>
        </span>
        <a class="btn fab fa-facebook fa-2x" href="https://www.facebook.com/tamarcovich"></a>
        <a class="btn fab fa-linkedin fa-2x" href="https://www.linkedin.com/in/alon-samet/"></a>
        <a class="btn fas fa-envelope fa-2x" href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=alonkale@gmail.com&shva=1"></a>
    </div>
    <div class="panel-body">
        Powered by
        <strong>
            <i> Alon Samet </i>
            <br>
        </strong>
        <h6> © All Rights Reserved </h6>
    </div>
    <br>
</div>