<br>
<br>
<br>

<!--
    This component shows the details (id, name, password & email) of the logged-in company 
-->
<h3 id="centerh">
    <span class="label label-success"> My Company Details </span>
</h3>
<br>
<br>
<br>

<div id="details">
    <table border="1" class="table table-striped table-bordered">
        <tr>
            <th> ID </th>
            <th> Name </th>
            <th> Password </th>
            <th> Email </th>
        </tr>
        <tr>
            <td> {{companyToGet.id}} </td>
            <td> {{companyToGet.name}} </td>
            <td> {{companyToGet.password}} </td>
            <td> {{companyToGet.email}} </td>
        </tr>
    </table>
</div>
