th, td {
    text-align: center; 
    line-height: 35px;
}

#centerh {
    text-align: center;
}

#details {
    margin-left: 300px; 
    margin-right: 300px; 
    align-items:center;
}

#footer {
    position: sticky;
    margin-top: 750px  ;
    right: 40%;
    top: 40%;
    bottom: 1px;
    left: 40%;
    padding: 0.5rem;
    text-align: center
}