<br>
<br>
<br>
<br>
<br>
<br>

<!--  
This component displays details about the coupon system project (left image) and the project author (right image) 
-->

<div class="container" id="container">
    <div class="row">
        <div class="col-md-5">
            <p>
                <img src="../../../company/assets/‏‏project.PNG" id="leftimg">
            </p>
        </div>

        <div class="col-md-5">
            <p>
                <img src="../../../company/assets/alon.PNG" id="rightimg">
            </p>
        </div>
    </div>